<!DOCTYPE html>

<html>

<head>
  <title>Landing</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{>header}}
  <div class="ui inverted vertical masthead center aligned segment">
    <div class='ui container'>
      <div class='ui text container'>
        <h1 class='ui inverted header'>
          Swim.Bike.Run
        </h1>
      </div>
    </div>
  </div>

</body>

</html>