<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DWD甲尬睏打混分隊</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" rel="stylesheet" type='text/css'>
    <link href="/stylesheets/app.css" rel="stylesheet" type='text/css'>
  </head>
  <body>
    <div class='ui fixed inverted menu'>
      <div class='ui container'>
        <div class='header item'><i class='bolt icon'></i>DWD甲尬睏打混分隊</div>
        <a href="/" class='item'>首頁</a>
        <a href="/rank" class='item'>排行榜</a>
      </div>
    </div>
  