<% include partials/header%>

<div class='ui main text container segment'>
  <div class="ui middle aligned ordered divided list">
    <div class="item">
      <div class='right floated'>累積積分: 3213</div>
      <div class="header">R.Z Chen</div>
    </div>
    <div class="item">
      <div class="right floated">累積積分: 2862</div>
      <div class="header">Jun-Yi Yang</div>
    </div>
    <div class="item">
      <div class="right floated">累積積分: 2523</div>
      <div class="header">Jim Peng</div>
    </div>
    <div class="item">
      <div class="right floated">累積積分: 2423</div>
      <div class="header">陳彥捷</div>
    </div>
    <div class="item">
      <div class="right floated">累積積分: 2333</div>
      <div class="header">鄭昌賢</div>
    </div>
  </div>
</div>
