<% include partials/header%>

<div class='ui main text container segment'>
  <div class="ui middle aligned ordered divided list">
    <div class="item">
      <div class="content">
        <div class="header">R.Z Chen</div>
        累積積分: 3213
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Jun-Yi Yang</div>
        累積積分: 2862
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Jim Peng</div>
        累積積分: 2523
      </div>
    </div>
  </div>
</div>
